{% extends 'MrokGraphBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="well">
            Put visualisation here
        </div>
    </div>
</div>
{% endblock %}
