{% extends 'MrokGraphBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="well">
            <img src="{{ app.request.getBasePath()}}/bundles/mrokgraph/images/graph.png">
        </div>
    </div>
</div>
{% endblock %}
