{% extends 'MrokGraphBundle::layout.html.twig' %}


{% block content %}
<div class="row">
    <div class="span4">
        <div class="well" id="left-column">
            {% block left_column %}
            {% endblock %}
        </div>
    </div>
    <div class="span8">
        <div class="well">
            {% block right_column %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
